@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ns{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
select {
  outline: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}
/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
.sc-fkSzgi::-webkit-scrollbar {
  width: 4px;
}

.sc-fkSzgi::-webkit-scrollbar-thumb {
  background: #3D3D3D;
  border-radius: 10px;
}

.sc-fkSzgi::-webkit-scrollbar-thumb:hover {
  background: #3D3D3D;
}

.sc-fkSzgi::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.sc-fkSzgi .MuiDataGrid-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3D3D3D transparent;
}
